/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Ubuntu+Condensed&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #252525;
    font-family: "Ubuntu Condensed", sans-serif;
}

h1, h2, h3 {
    font-family: "Teko", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

/* Header */
header {
    background: #F2EDEF;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

/* Modal button */
#myBtn {
    padding: 5px 10px;
    background-color: #DB3A34;
    border: 1px solid #DB3A34;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    width: 75px;
    margin: auto;
    font-weight: bold;
    text-transform: uppercase;
}

#myBtn:hover {
    background-color: rgba(219, 58, 52, .8);
    box-shadow: none;
}

/* Modal (background) - (Walkthrough code)*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

/* Modal Header - (Walkthrough code) */
.modal-header {
    padding: 7px 16px;
    background-color:#FFC857;
}

/* Modal Body - (Walkthrough code) */
.modal-body {
    padding: 15px 15px;
    background-color: rgba(250, 250, 250, 0.8);
    border-radius: 5px;
}

/* Modal (content box) - (Walkthrough code) */
.modal-content {
    background-color: #FFC857;
    margin: 15% auto;
    padding: 0 20px 20px;
    border: 1px solid #252525;
    border-radius: 25px;
    width: 80%;
    text-align: center;
    line-height: 30px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add animation - (Walkthrough code) */
@keyframes animatetop {
    from {top: -300px; opacity: 0;}
    to {top: 0; opacity: 1)}
}

/* Modal (close button) - (Walkthrough code) */
.close {
    color: #252525;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #DB3A34;
    text-decoration: none;
    cursor: pointer;
}

/* Main Content */
main {
    background: #F2EDEF;
    /* Make main element take up surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background: #F2EDEF;
    padding-top: 10px;
}

footer p {
    text-align: center;
    padding: 10px 10px;
}